In [1]:
#Importing libraries needed
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot
%matplotlib inline
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [9]:
irma =  pd.read_csv(r'data\irma_p.csv')
irma.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,...,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES,list,Points
0,US1FLOK0029,"MARY ESTHER 0.6 E, FL US",30.410900,-86.647500,4.9,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[30.4109, -86.6475]",POINT (30.4109 -86.6475)
1,USC00082915,"FEDERAL POINT, FL US",29.755000,-81.538900,1.5,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[29.755, -81.5389]",POINT (29.755 -81.5389)
2,US1FLVL0038,"OAK HILL 2.8 WSW, FL US",28.860597,-80.871231,1.8,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[28.860597, -80.871231]",POINT (28.860597 -80.871231)
3,US1FLBV0023,"COCOA 2.6 WNW, FL US",28.395600,-80.786800,7.0,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[28.3956, -80.7868]",POINT (28.3956 -80.7868)
4,US1FLVL0036,"DE LAND 1.4 WSW, FL US",29.026388,-81.318228,24.4,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[29.02638751, -81.31822754]",POINT (29.02638751 -81.31822754)

In [10]:
value = pd.read_csv(r'data\Sale_Prices_City.csv')
value.head()

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2015-10,2015-11,2015-12,2016-01,2016-02,...,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10
0,12,25290,Jacksonville,Florida,13,98900.0,98700.0,98900.0,100100.0,102100.0,...,141900,146300,147400,153300,156700,164300,171000,173000,172500,170600.0
1,20,13121,Orlando,Florida,21,169900.0,172800.0,174700.0,176700.0,176400.0,...,239900,241000,238700,239100,240100,244200,244900,241900,241500,243600.0
2,38,12700,Miami,Florida,39,286500.0,291800.0,292100.0,289200.0,291800.0,...,308300,307300,309500,316500,318700,321700,323600,320400,326100,333500.0
3,53,41176,Tampa,Florida,54,158400.0,161400.0,157800.0,167800.0,168500.0,...,229800,227600,219900,220700,222100,229000,228400,234000,232800,240500.0
4,71,19533,Naples,Florida,72,275100.0,281300.0,287600.0,297600.0,290800.0,...,310700,309000,310500,313000,319500,319700,323100,320600,322800,321800.0

In [39]:
value_s = value.head(10)
value_s.head()

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2015-10,2015-11,2015-12,2016-01,2016-02,...,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10
0,12,25290,Jacksonville,Florida,13,98900.0,98700.0,98900.0,100100.0,102100.0,...,141900,146300,147400,153300,156700,164300,171000,173000,172500,170600.0
1,20,13121,Orlando,Florida,21,169900.0,172800.0,174700.0,176700.0,176400.0,...,239900,241000,238700,239100,240100,244200,244900,241900,241500,243600.0
2,38,12700,Miami,Florida,39,286500.0,291800.0,292100.0,289200.0,291800.0,...,308300,307300,309500,316500,318700,321700,323600,320400,326100,333500.0
3,53,41176,Tampa,Florida,54,158400.0,161400.0,157800.0,167800.0,168500.0,...,229800,227600,219900,220700,222100,229000,228400,234000,232800,240500.0
4,71,19533,Naples,Florida,72,275100.0,281300.0,287600.0,297600.0,290800.0,...,310700,309000,310500,313000,319500,319700,323100,320600,322800,321800.0

In [26]:
#https://geopandas.org/en/stable/docs/user_guide/geocoding.html
#https://geopandas.org/en/stable/docs/user_guide/mergingdata.html
    
geo_s = geopandas.tools.geocode(value_s.RegionName)

In [17]:
irma['geometry'] = irma[['Points']]
irma.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,...,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES,list,Points,geometry
0,US1FLOK0029,"MARY ESTHER 0.6 E, FL US",30.410900,-86.647500,4.9,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[30.4109, -86.6475]",POINT (30.4109 -86.6475),POINT (30.4109 -86.6475)
1,USC00082915,"FEDERAL POINT, FL US",29.755000,-81.538900,1.5,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[29.755, -81.5389]",POINT (29.755 -81.5389),POINT (29.755 -81.5389)
2,US1FLVL0038,"OAK HILL 2.8 WSW, FL US",28.860597,-80.871231,1.8,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[28.860597, -80.871231]",POINT (28.860597 -80.871231),POINT (28.860597 -80.871231)
3,US1FLBV0023,"COCOA 2.6 WNW, FL US",28.395600,-80.786800,7.0,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[28.3956, -80.7868]",POINT (28.3956 -80.7868),POINT (28.3956 -80.7868)
4,US1FLVL0036,"DE LAND 1.4 WSW, FL US",29.026388,-81.318228,24.4,9/11/2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[29.02638751, -81.31822754]",POINT (29.02638751 -81.31822754),POINT (29.02638751 -81.31822754)

In [37]:
value_s.sjoin_nearest(irma, distance_col = dist)

AttributeError: 'DataFrame' object has no attribute 'sjoin_nearest'

In [38]:
s = geopandas.GeoDataFrame(value_s, crs=4326, geometry = 'geometry')

ValueError: Assigning CRS to a GeoDataFrame without a geometry column is not supported. Supply geometry using the 'geometry=' keyword argument, or by providing a DataFrame with column name 'geometry'

In [20]:
i = geopandas.GeoDataFrame(irma, crs=4326)

In [30]:
i.set_geometry("geometry")

TypeError: Input must be valid geometry objects: POINT (30.4109 -86.6475)

In [35]:
geo_s.sjoin_nearest(i, distance_col = 'dist')

AttributeError: The CRS attribute of a GeoDataFrame without an active geometry column is not defined. Use GeoDataFrame.set_geometry to set the active geometry column.

In [36]:
i['geometry']=geopandas.GeoSeries.from_xy(i['LATITUDE'], i['LONGITUDE'])
i.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          1058 non-null   object
 1   NAME             1058 non-null   object
 2   LATITUDE         1058 non-null   float64
 3   LONGITUDE        1058 non-null   float64
 4   ELEVATION        1047 non-null   float64
 5   DATE             1058 non-null   object
 6   AWND             77 non-null     float64
 7   AWND_ATTRIBUTES  77 non-null     object
 8   PGTM             23 non-null     float64
 9   PGTM_ATTRIBUTES  23 non-null     object
 10  WDF2             83 non-null     float64
 11  WDF2_ATTRIBUTES  83 non-null     object
 12  WDF5             83 non-null     float64
 13  WDF5_ATTRIBUTES  83 non-null     object
 14  WDMV             0 non-null      float64
 15  WDMV_ATTRIBUTES  0 non-null      float64
 16  WSF2             83 non-null     float64
 17  WSF2_ATTRIBUTES  83 non-null     object
 18  WSF5             83 non-null     float64
 19  WSF5_ATTRIBUTES  83 non-null     object
 20  WT01             49 non-null     float64
 21  WT01_ATTRIBUTES  49 non-null     object
 22  WT02             6 non-null      float64
 23  WT02_ATTRIBUTES  6 non-null      object
 24  WT03             18 non-null     float64
 25  WT03_ATTRIBUTES  18 non-null     object
 26  WT04             0 non-null      float64
 27  WT04_ATTRIBUTES  0 non-null      float64
 28  WT05             0 non-null      float64
 29  WT05_ATTRIBUTES  0 non-null      float64
 30  WT06             0 non-null      float64
 31  WT06_ATTRIBUTES  0 non-null      float64
 32  WT07             0 non-null      float64
 33  WT07_ATTRIBUTES  0 non-null      float64
 34  WT08             9 non-null      float64
 35  WT08_ATTRIBUTES  9 non-null      object
 36  WT09             0 non-null      float64
 37  WT09_ATTRIBUTES  0 non-null      float64
 38  WT10             0 non-null      float64
 39  WT10_ATTRIBUTES  0 non-null      float64
 40  WT11             8 non-null      float64
 41  WT11_ATTRIBUTES  8 non-null      object
 42  list             1058 non-null   object
 43  Points           1058 non-null   object
 44  geometry         1058 non-null   geometry
dtypes: float64(28), geometry(1), object(16)
memory usage: 372.1+ KB

In [28]:
geo_s.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   geometry  10 non-null     geometry
 1   address   10 non-null     object
dtypes: geometry(1), object(1)
memory usage: 240.0+ bytes